<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		

		<typeAlias type="kr.or.ddit.user.model.UserVo" alias="userVo" />

		<!-- 2021-03-03KJH CoesVo typeAliases -->
		<typeAlias type="kr.or.ddit.common.model.CodesVo" alias="codesVo" />
		
		<!-- 2021-03-03KJH fmanageVo typeAliases -->
		<typeAlias type="kr.or.ddit.farm.model.FmanageVo" alias="fmanageVo" />
		

		<!-- 20210305KWS GardenguidesVo typeAliases -->
		<typeAlias type="kr.or.ddit.farm.model.GardenguideVo"
			alias="gardenguideVo" />
		 
			
		<!-- 20210306 SHS FcommunityVo typeAliases -->
		<typeAlias type="kr.or.ddit.farm.model.MarketVo" alias="MarketVo" />
		
		<!-- 20210309 SHS FileVo typeAliases -->
		<typeAlias type="kr.or.ddit.farm.model.FilesVo" alias="FilesVo" />
		
		<!-- 20210309 SHS FileVo typeAliases -->
		<typeAlias type="kr.or.ddit.farm.model.MarketFilesVo" alias="MarketFilesVo" />
		
		<typeAlias type="kr.or.ddit.farm.model.GuideSqlVo" alias="guideSqlVo" />


		<!-- 2021-03-04KJH FcltmngVo typeAliases -->
		<typeAlias type="kr.or.ddit.farm.model.MsrrecVo" alias="msrrecVo" />
		<!-- 2021-03-04KJH MsrequipVo typeAliases -->
		<typeAlias type="kr.or.ddit.farm.model.MsrequipVo" alias="msrequipVo" />
		<!-- 2021-03-06KJH MsrequipVo typeAliases -->
		<typeAlias type="kr.or.ddit.farm.model.FhistoryVo" alias="fhistoryVo" />

		<typeAlias type="kr.or.ddit.farm.model.FarmdiaryVo" alias="farmdiaryVo" />
		<!-- ggy_20210305 MySimpleCodeVo 만듬 -->
		<typeAlias type="kr.or.ddit.farm.model.MySimpleCodeVo" alias="mySimpleCodeVo" />

		<!-- 20210305 KJH MyMaxMrrecListVo typeAliases -->
		<typeAlias type="kr.or.ddit.fanalysis.model.MyMaxMrrecListVo" alias="mymaxmrreclistVo" />
	</typeAliases>

	<mappers>

		<mapper resource="kr/or/ddit/config/mybatis/mapper/fsurpports.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/users.xml" />

		<!-- 2021-03-03 KJH codes,fmanage mapper -->
		<mapper resource="kr/or/ddit/config/mybatis/mapper/codes.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/fmanage.xml" />

		<!-- 20210305 KWS GardenguidesVo mappers -->
		<mapper resource="kr/or/ddit/config/mybatis/mapper/guides.xml" />
		
		<!-- 20210307 SHS FcommunityVo mappers -->
		<mapper resource="kr/or/ddit/config/mybatis/mapper/Market.xml" />
		
		<!-- 20210309 SHS FilesVo mappers -->
		<mapper resource="kr/or/ddit/config/mybatis/mapper/files.xml" />

		<!-- 20210309 SHS FilesVo mappers -->
		<mapper resource="kr/or/ddit/config/mybatis/mapper/marketfiles.xml" />
		
	</mappers>

</configuration>