<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- <typeAlias type="클래스명" alias="별칭" /> -->
	<typeAliases>
		<typeAlias type="kr.or.ddit.common.model.PageVo"
			alias="pageVo" />
		<typeAlias type="kr.or.ddit.common.model.PageVoSearch"
			alias="pageVoSearch" />
			<!-- 2021-03-03KJH CoesVo typeAliases -->
		<typeAlias type="kr.or.ddit.common.model.CodesVo"
			alias="codesVo" />
		
		<typeAlias type="kr.or.ddit.user.model.UserVo"
			alias="userVo" />	

		<typeAlias type="kr.or.ddit.farm.model.FarmdiaryVo"
			alias="farmdiaryVo" />
		<typeAlias type="kr.or.ddit.farm.model.WorkstepsVo"
			alias="workstepsVo" />
			<!-- 2021-03-03KJH FcltmngVo typeAliases -->
		<typeAlias type="kr.or.ddit.farm.model.FcltmngVo"
			alias="fcltmngVo" />
				


	</typeAliases>

	<mappers>
		<mapper resource="kr/or/ddit/config/mybatis/mapper/users.xml" />

		<mapper resource="kr/or/ddit/config/mybatis/mapper/fsurpports.xml" />

		<!-- 2021-03-03KJH codes,fcltmng mapper -->
		<mapper resource="kr/or/ddit/config/mybatis/mapper/codes.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/fcltmng.xml" />

	</mappers>
	
</configuration>